<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512381849230-msukrj6q2bc307rl0qvif46f6a5kt9fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512381849230-msukrj6q2bc307rl0qvif46f6a5kt9fa</string>
	<key>API_KEY</key>
	<string>AIzaSyBzpjSiI5pv1wmfoVRFWACrGqI4iJJ68fI</string>
	<key>GCM_SENDER_ID</key>
	<string>512381849230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.ship-it.ship-it</string>
	<key>PROJECT_ID</key>
	<string>ship-it-ca92f</string>
	<key>STORAGE_BUCKET</key>
	<string>ship-it-ca92f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512381849230:ios:e4474f3a9c979556cb03df</string>
</dict>
</plist>